<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site com Vídeo</title>
    <style>
        /* Estilizando o vídeo */
        video {
            width: 30%; /* Define a largura do vídeo para preencher todo o contêiner */
            border-radius: 10px; /* Adiciona bordas arredondadas */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao vídeo */
        }
    </style>
</head>
<body>
    <h1>Meu Vídeo</h1>
    <video controls>
        <source src="/static/img/meuvideo.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
    </video>
</body>
</html>
